<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.yaqut.reader" >

    <uses-sdk android:minSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >
        <activity
            android:name="co.yaqut.reader.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="co.yaqut.reader.ReaderActivity"
            android:exported="true" />
        <activity
            android:name="co.yaqut.reader.TabsActivity"
            android:exported="true" />

        <service android:name="co.yaqut.reader.service.AmbientSoundService" />
        <service
            android:name="co.yaqut.reader.service.AudioPlayerService"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>